.flex {
    display: flex;
}

.justify-around {
    justify-content: space-around;
}

#headshot{
    width: 200px;
}



.navbar{
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}